*, * ::before, * ::after {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.app {
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
}
